section.tile {
display: block;
    margin: 10px;
    /* width: 21.4%; */
    border: solid 0.5px #ddd;
    padding: 15px;
    background-color: #fbf7c6;
    /* vertical-align: text-top; */
}

h2.tile-heading {
    color: #213968;
    font-weight: 700;
    font-size: 22px;
    overflow: hidden;
}

button.tile-edit-btn {
    float: right;
    border: none;
    /* width: 10px; */
    display: inline-block;
     background: transparent;
}

button.tile-delete-btn
{
    float: right;
    border: none;
    /* width: 10px; */
    display: inline-block;
    margin-left: 10px;
    width: 50px;
    background: transparent;
}

span.task-heading {
    float: left;
    width: 80%;
    word-break: break-all;
    font-family: sans-serif;
}

.tile-edit-btn img{
    width: 20px;
}

.tile-delete-btn img{
    width: 20px;
}

.tile-button-wrap
{
    float: right;
}

.tile-complete-chck
{
    float: left;
    margin: 8px;
}

.to-do-content
{
    overflow: hidden;
    padding: 0px 30px;
}

ul.to-do-list
{
    list-style-type: none!important;
    margin: 20px 0;
}

ul.to-do-list li
{
    margin: 10px 0;
    font-size: 15px;
    color: #333;
}

span.list-item-label {
    font-weight: 600;
    font-size: 13px;
}

span.list-item-value {
    font-size: 13px;
}

section.tile.complete{
    background-color: lightcyan!important;
}