.task-search
{
       background-color: #0078d4;
    margin: 20px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
}

.task-search-input
{
    margin-left: 20px;
    padding: 7px;
    border: solid 0.5px #bbb;
    border-radius: 5px;
    width: 300px;
}